// Заглавный размер шрифта 
$fonttitle: 60px;

// Основной размер шрифта 
$fontmain: 16px;

// Основной цвет
$colormain: #666;

//Поддерживающий цвет
$coloradd: #fff;


// Мобильный заглавный размер шрифта
$fonttitle: 24px;

//Мобильный основной размер шрифта
$fontmain: 12px;